html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    line-height: 150%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #4aaaa5;
    font-size: 34px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #777777;
    padding-bottom: 20px;
}

h3 {
    color: #ffffff;
    background-color: #4aaaa5;
    position: absolute;
    display: inline-block;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

.overtop {
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolution;
    z-index: 10;
}
.nav:link {
    color: #777777;
}

.nav:visited {
    color: #4aaaa5;
}

nav:hover {
    color: #4aaaa5;
}

nav:active {
    color: #4aaaa5;
}

.page_wrap {
    width: 960px;
    margin: 0 auto;
}

#bio_image {
    float: left;
    margin: 5px 15px 0px 0px;
    display: block;
}

header {
    clear: both;
    overflow: auto;
    background-color: #4aaaa5;
    border-color: #cccccc;
    float: left;
    padding: 10px 20px 10px 20px;
}
#navmenu {
    float: right;
    padding-top: 50px;
}

.container {
    clear: both;
    overflow: auto;
    flex: 1 0 auto;
    background-image: url("../../assets/images/gravel.png");
}
.main_content {
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    padding: 20px 40px 20px 30px;
    margin: 30px 0 30px 0;
    background-color: #ffffff;
}

.port_image {
    height: 200px;
    width: 250px;
    margin: 0px 30px 50px 0px;
}

.hangman {
    display: block;
    float: left;
    position: relative;
}

.rpg {
    display: block;
    float: left;
}

.trivia {
    display: block;
    clear: both;
    overflow: auto;
    float: left;
}

.rutgers {
    display: block;
    float: left;
}

.rock {
    display: block;
    clear: both;
    overflow: auto;
}

#footer {
    background-color: #666666;
    border-top: #4aaaa5 solid 8px;
    text-align: center;
    flex-shrink: 0;
}